.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    line-height: normal;
    padding: 30px 0 50px;
}
.shopping{
    display: flex;
    gap: 30px;
}


@media screen and (width < 768px){
    .header{
        align-items: flex-end;
    }
}
